<head>
  <title>PlanBee</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="active">
      <div class="sidebar-header">
        <div id="hide_indicator_box">
          <div id="appTitle">PlanBee Commander</div>
          <div id="hide_indicator">
            <i class="glyphicon glyphicon-chevron-left" id="sidebar_toggle"></i>
          </div>
        </div>
        <div id="avatar">
          <img src="./../../assets/graphics/timavatar.png" style="position: absolute; padding:10px; bottom: 0; height: 60%">
        </div>
        <div id="nameID">Tim Keller</div>
        <div id="avatarPosition">2. Kommandant</div>
        <div id="logout-container">
          <i class="glyphicon glyphicon-log-out" id="logout" style="color: white;"></i>
        </div>
      </div>

      <ul class="list-unstyled components" id="scrollList" style="height: 80%; overflow: auto">
        <li class="active layer0">
          <div class="itemSubHeader" style="font-size: 16pt;">THL 2</div>
          <div id="navIcon" style="right:0; transform: translate(-100%,0); position: absolute;">
            <img src="../../assets/graphics/navigate.png" style="width: 16px;">
          </div>
          <div class="itemHeader" id="address">Gr&ouml;benrieder Str. 83, 85221 Dachau</div>
        </li>

        <ul class="list-unstyled" id="livelist" style="padding-top: 20px; display: none;">
          <li class="liveinfo_item liveinfo_header">
            <img src="./../../assets/graphics/rec.png" class="rec" />LIVE INFO
          </li>

          <li class="liveinfo_item">
            <div class="itemHeader" id="personStandScale">
              <img src="./../../assets/graphics/person_black.png" class="live_scale" style="height:15px; padding-right:2px;"/>
            </div>
            <div class="itemSubHeader" id={{standPersonLabel}}>{{standPersonLabel}}</div>
          </li>

          <li class="liveinfo_item">
            <div class="itemHeader" id="personLieScale">
              <img src="./../../assets/graphics/person2_red1to1.png" class="live_scale" style="height:15px; padding-right:2px;"/>
            </div>
            <div class="itemSubHeader" id={{liePersonLabel}}>{{liePersonLabel}}</div>
          </li>

          <li class="liveinfo_item" style="height: 60px;">
            <div class="itemHeader" id="vehicleScale">
              <img src="./../../assets/graphics/icon_car.png" class="live_scale" style="height:15px; padding-right:2px;"/>
            </div>
            <div class="itemSubHeader" id={{vehicleLabel}}>{{vehicleLabel}}</div>
          </li>
        </ul>

        <li class="active layer0 action" style="margin-top: 10px; display:none;">
          <div style="font-size: 10pt; text-align: right;">ALLES ZEIGEN</div>
        </li>

        <li class="active layer0">
          <a href="#faxSubmenu" data-toggle="collapse" aria-expanded="false">
            <div class="itemSubHeader">Einsatzdetails ILS</div>
          </a>
          <ul class="collapse list-unstyled" id="faxSubmenu">
            <li class="layer1">
              <div class="itemHeader">Schlagwort</div>
              <div class="itemSubHeader">VU - 1 oder 2 PKW, Person eingeklemmt</div>
            </li>

            <li class="layer1">
              <div class="itemHeader">Freitext</div>
              <div class="itemSubHeader">Unfall 2 PKW, 1 PKW &uuml;berschlagen, Person eingeklemmt</div>
            </li>

            <li class="layer1">
              <div class="itemHeader">Priorit&auml;t</div>
              <div class="itemSubHeader">1 - Notfall</div>
            </li>
          </ul>
        </li>

        <li class="active layer0">
          <a href="#droneSubmenu" data-toggle="collapse" aria-expanded="false">
            <div class="itemHeader">Multikopter</div>
            <div class="itemSubHeader">Multikopter</div>
          </a>

          <ul class="collapse list-unstyled" id="droneSubmenu">
            <li class="layer1">
              <div class="itemHeader">Verantwortlicher Pilot</div>
              <div class="itemSubHeader">Gschwendtner, Franz</div>
            </li>

            <li class="layer1" style="height:60px;" id="droneProgressItem">
              <div class="itemHeader">Zeit bis zum Eintreffen</div>
              <div class="progress" style="width:100%; height:20px;">
                <div id="time_passed_label" style="position:absolute; padding-left: 5px; top:inherit; color:white">1:03</div>
                <div id="time_remaining_label" style="position:absolute; width:inherit; padding-right: 5px; top:inherit; text-align: right;">-0:53</div>
                <div id="time_remaining" class="progress-bar bg-light" role="progressbar" aria-valuenow="30" style="width: 30%; color:black;"></div>
              </div>
            </li>

            <li class="layer1" id="remainingDistanceItem">
              <div class="itemHeader">Distanz zum Zielort</div>
              <div class="itemSubHeader" id="distance_remaining_label"></div>
            </li>
          </ul>
        </li>

        <li class="active layer0">
          <a href="#safetyCardSubmenu" data-toggle="collapse" aria-expanded="false">
            <div class="itemSubHeader" id="personSubHeader">Rettungskarten</div>
          </a>

          <ul class="collapse list-unstyled" id="safetyCardSubmenu">
            <li class="layer1 action" id="showCarList" (click)="onShowCarList()">Fahrzeug hinzuf&uuml;gen...</li>
          </ul>
        </li>

        <li class="active layer0">
          <a href="#vehicleSubmenu" data-toggle="collapse" aria-expanded="false">
            <div class="itemHeader">Weitere Einsatzkr&auml;fte</div>
            <div class="itemSubHeader" id="vehicleSubHeader">Weitere Einsatzkr&auml;fte</div>
          </a>
          <ul class="collapse list-unstyled" id="vehicleSubmenu">
            <li class="layer1">2 RTW</li>
          </ul>
        </li>

        <li class="active layer0">
          <a href="#staffSubmenu" data-toggle="collapse" aria-expanded="false">
            <div class="itemHeader">Mannschaft</div>
            <div class="itemSubHeader">R&uuml;ckmeldungen</div>
          </a>
          <ul class="collapse list-unstyled" id="staffSubmenu">
            <li class="layer1">Herbst, Sarah</li>
            <li class="layer1">Ferdinand, Franz</li>
          </ul>
        </li>


      </ul>

    </nav>
  </div>

  <div id="carList">
    <div style="position: absolute; right:10px; top:10px; width: 20px; z-index: 1000" id="closeCarList" (click)="closeCarList()">
      <img src="./../../assets/graphics/close.png" style="width: 100%;">
    </div>
    <ul class="list-unstyled">
      <li class="carListItem">
        Fahrzeugtyp suchen
      </li>
      <li class="carListItem">
        <input type="text" class="form-control" id="carTypeInput">
      </li>
      <li class="carListItem action" id="addCar" (click)="addCar()">
        &Uuml;bernehmen
      </li>
    </ul>
  </div>

  <div id="content">
    <div class="btn-group-vertical" role="group" aria-label="Label" style="position: absolute; right: 20px; top: 50%; z-index: 900; transform: translate(0,-50%); ">
      <button class="btn button-default layerbutton" data-toggle="button" aria-pressed="false" autocomplete="off" type="button"
        id="personViewToggleButton" (click)="toggleHumans()">
        <img src="assets/graphics/person_black.png" height="45px">
      </button>
      <button class="btn button-default layerbutton" data-toggle="button" aria-pressed="false" autocomplete="off" type="button"
        id="vehicleViewToggleButton" (click)="toggleCars()">
        <img src="assets/graphics/icon_car.png" height="30px">
      </button>
    </div>
    <canvas id={{canvasId}}></canvas>
    <div id="waitingScreen">
      <agm-map [latitude]="latCenter" [longitude]="longCenter" id="mainMap" [zoom]="14">
        <agm-marker [latitude]="latStart" [longitude]="longStart"></agm-marker>
        <agm-marker [latitude]="latCurrent" [longitude]="longCurrent" [iconUrl]="dronePicturePath"></agm-marker>
        <agm-marker [latitude]="latEnd" [longitude]="longEnd"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div id="rettDB">
    <div style="position: absolute; right:10px; top:010px; width: 20px; z-index: 1000" id="closeRett" (click)="closeRectangle()">
      <img src="./../../assets/graphics/close.png" style="width: 100%;">
    </div>
    <img src="./../../assets/graphics/rett.png" style="position: absolute; max-width: 98%; max-height: 95%; bottom: 10px;">
  </div>
  <img [hidden]="trueOption" id="{{imageId}}" src="{{image}}" alt="Description" ng-show="test" />
</body>